@{
    Dictionary<string, string> categoryColorDictionary = ViewBag.CategoryColorDictionary;
}

<div class="panel">
    @foreach (var category in categoryColorDictionary)
    {
        var categoryName = category.Key;
        var categoryColor = category.Value;
        <div class="checkbox-item">
            <label>
                <input type="checkbox" name="selectedCategories" value="@categoryName" style="accent-color:@categoryColor"
                       data-category-color="@categoryColor" onchange="update(this)" checked />
                @categoryName
            </label>
        </div>
    }
</div>