@{
    List<Category> categories = ViewBag.Categories;
}

<div class="panel">
    @foreach (var category in categories)
    {
        var categoryName = category.CategoryName;
        var categoryColor = category.CategoryColor;
        <div class="checkbox-item">
            <label>
                <input type="checkbox" name="selectedCategories" value="@categoryName" style="accent-color:@categoryColor"
                       data-color="@categoryColor" onchange="update(this)" checked />
                @categoryName
            </label>
        </div>
    }
</div>