.category-color {
    width: 20px;
    height: 20px; 
    margin-right: 10px; /* Расстояние между элементом и временем события */
    flex-shrink: 0; /* Запрет уменьшения элемента при ограничении ширины */
}

ul {
    list-style-type: none;
    padding: 0;
}

span {
    font-size: 30px; /* Размер шрифта для времени */
    margin-right: 50px; /* Расстояние между временем и именем события */
}

div.description {
    display: none;
    font-size: 30px;
    width: 1200px; /* Ширина блока описания */
    height: auto; /* Высота блока описания */
    overflow: auto; /* Добавляем полосы прокрутки, если содержимое превышает размеры блока */
    word-wrap: break-word;
}
.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }