@model Event
@{
    ViewData["Title"] = "Новое событие.";
    List<Category> categories = ViewBag.Categories;
    SelectList CategoryName = new SelectList(new List<Category>());
    if(categories != null)
    {
        CategoryName = new SelectList(categories.Select(e=>e.CategoryName).Distinct().ToList());
    }

    Category create(string categoryName, string categoryColor)
    {
        return new Category() { CategoryColor = categoryColor, CategoryName = categoryName };
    }
}

@if (Model is not null)
{
    <h1 style="align-self:center">Новое событие на @Model.Date.Date.ToShortDateString()</h1>
}

<script src="~/js/events.js">

</script>

<style>
    .rounded-button {
        display: inline-block;
        width: 100px;
        height: 38px;
        line-height: 30px;
        text-align: center;
        background-color: #fff; /* Белый фон кнопки */
        color: #000; /* Цвет текста кнопки (черный) */
        border: 1px solid #b8b8b8; /* Черные границы */
        border-radius: 4px; /* Закругленные углы */
        text-decoration: none;
        font-weight: bold;
    }

</style>

<div class="row">
    <div class="col-md-6 offset-3">
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Извините, произошла ошибка!</b> - @TempData["Error"] </span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="NewEvent">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Введите название события..." maxlength="200" id="text" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" placeholder="Опишите ваши планы в подробностях..." maxlength="3000"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" type="time" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>

                    <label asp-for="Category" class="control-label" style="flex: 1;">Категория</label>
                    <div class="form-group" id="chooseCategory" style="display: flex;">
                        <div style="flex: 2; 120%;">
                            <select asp-for="Category.CategoryName" asp-items="CategoryName" class="form-control">
                                <option value="">Выберите категорию</option>
                            </select>
                        </div>
                        <div style="text-align:center; text-decoration:none; flex: 1; display: flex; align-items: center; justify-content: center;">
                            <a style="text-decoration:none" asp-controller="Category" asp-action="NewCategory" class="form-control">
                                +
                            </a>
                        </div>
                    </div>

                    <br/>

                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Добавить событие" />
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Отмена</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>