@model Category
@{
    ViewData["Title"] = "Изменение категории";
}

<div class="col-md-4 offset-4">
    <form asp-action="EditCategory" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="CategoryName" class="control-label"></label>
            <input asp-for="CategoryName" class="form-control" placeholder="Введите название категории..." maxlength="200" id="text" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CategoryColor" class="control-label"></label>
            <input asp-for="CategoryColor" style="width:40%" class="form-control" type="color" />
            <span asp-validation-for="CategoryColor" class="text-danger"></span>
        </div>

        <div class="form-group" style="display:none;">
            <label asp-for="CategoryId" class="control-label"></label>
            <input asp-for="CategoryId" style="width:40%" class="form-control"/>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <input class="btn btn-outline-success float-right" type="submit" value="Сохранить изменения" />
            <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Отмена</a>
        </div>
    </form>
</div>
