@model Category
@{
    ViewData["Title"] = "Новая категория";
}

<div class="row">
    <div class="col-md-8 offset-4">

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Извините!</b> - @TempData["Error"] </span>
            </div>
        }

        <form asp-action="NewCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" style="width:40%" class="form-control" placeholder="Введите название категории" maxlength="200"/>
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryColor" class="control-label"></label>
                    <input asp-for="CategoryColor" style="width:40%" class="form-control" type="color" />
                    <span asp-validation-for="CategoryColor" class="text-danger"></span>
                </div>

            <div class="form-group" style="padding-top:20px;">
                <input class="btn btn-outline-success float-right" type="submit" value="Добавить категорию" />
                <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Отмена</a>
            </div>
        </form>
    </div>
</div>
